* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.logo-pag {
  flex: 1;
  text-align: center;
  position: relative;
  bottom: 50px;
}

.logo-pag img {
  width: 250px;
}

.titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 45px;
  position: relative;
  bottom: 100px;
}

.menu {
  list-style-type: none;
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: space-evenly;
  background-color: #6d597a;
  font-size: 24px;
  text-align: center;
  padding: 5px;
  position: relative;
  bottom: 80px;
}
.menu a {
  text-decoration: none;
  color: black;
  background-color: #6d597a;
  transition: 1s;
}
.menu a:hover {
  color: white;
}

.gridhome {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "img4    img5" "img7    img8" "img10   img11" "img13   img14";
  row-gap: 1rem;
}

.img4 {
  grid-area: img4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img4 img {
  border: 5px solid #6d597a;
}

.img5 {
  grid-area: img5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img5 img {
  border: 5px solid #6d597a;
}

.img7 {
  grid-area: img7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img7 img {
  border: 5px solid #6d597a;
}

.img8 {
  grid-area: img8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img8 img {
  border: 5px solid #6d597a;
}

.img10 {
  grid-area: img10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img10 img {
  border: 5px solid #6d597a;
}

.img11 {
  grid-area: img11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img11 img {
  border: 5px solid #6d597a;
}

.img13 {
  grid-area: img13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img13 img {
  border: 5px solid #6d597a;
}

.img14 {
  grid-area: img14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img14 img {
  border: 5px solid #6d597a;
}

.titulo-acerca-de, .titulovideo, .titulodiscografia {
  background-color: #6d597a;
  color: black;
  font-size: 22px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-rec-arg {
  color: #6d597a;
  font-size: 26px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 3rem;
}

.titulo-info-whatever, .titulo-info-favourite, .titulo-info-humbug, .titulo-info-suckit, .titulo-info-am, .titulo-info-tbhyc, .titulo-info-thecar {
  background-color: #6d597a;
  color: black;
  font-size: 26px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mirrorball, .bodypaint, .fourout, .tranquility, .doiwanna, .iwannabeyours, .suckit, .blacktreacle, .crying, .potion, .oldyellow, .teddy, .mardybum, .dancefloor {
  color: #6d597a;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.carrousel {
  display: block;
  margin-left: 10rem;
  margin-right: 10rem;
}

.origen, .rec-arg p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 3rem;
  font-size: 24px;
}

.lista-whatever, .lista-favourite, .lista-humbug, .lista-suckit, .lista-am, .lista-tbhyc, .lista-thecar {
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  list-style-type: disc;
  margin: 1.5rem;
  padding: 1rem;
}

.imgrecarg1, .imgrecarg2, .imgrecarg3, .imgrecarg4 {
  text-align: center;
}

.gridalbums {
  min-height: 100vh;
  list-style-type: none;
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "whatever    favourite    humbug      suckitandsee" "am    tbhyc    thecar    0";
  gap: 2rem;
}

.portadawhatever {
  background-color: #6d597a;
  border-radius: 1rem;
  font-size: 22px;
  grid-area: whatever;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.favourite {
  background-color: #6d597a;
  border-radius: 1rem;
  font-size: 22px;
  grid-area: favourite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.humbug {
  background-color: #6d597a;
  border-radius: 1rem;
  font-size: 22px;
  grid-area: humbug;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.suckitandsee {
  background-color: #6d597a;
  border-radius: 1rem;
  font-size: 22px;
  grid-area: suckitandsee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.am {
  background-color: #6d597a;
  border-radius: 1rem;
  font-size: 22px;
  grid-area: am;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tbhyc {
  background-color: #6d597a;
  border-radius: 1rem;
  font-size: 22px;
  grid-area: tbhyc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thecar {
  background-color: #6d597a;
  border-radius: 1rem;
  font-size: 22px;
  grid-area: thecar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imgwhatever, .imgfavourite, .imghumbug, .imgsuckit, .imgam, .imgtranquility, .imgthecar {
  max-width: 100%;
}

p a:hover {
  color: white;
}

p a {
  color: black;
  text-decoration: none;
  transition: 1s;
}

.videomirrorball, .videobody, .videofourout, .videotranquility, .videodoiwanna, .videoiwanna, .videosuckit, .videoblack, .videocrying, .videopotion, .videoyellow, .videoteddy, .videomardybum, .videodancefloor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redesfooter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 2rem;
}

.redesfooter a {
  text-decoration: none;
  font-size: 28px;
  background-color: #6d597a;
  color: black;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.redesfooter a:hover {
  transform: scale(1.2);
}

.p-footer {
  color: #6d597a;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.redes a {
  text-decoration: none;
  font-size: 28px;
  background-color: #6d597a;
  color: black;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.redes a:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
  .gridhome {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "img4" "img5" "img7" "img8" "img10" "img11" "img13" "img14";
    row-gap: 1rem;
  }
  .gridalbums {
    min-height: 100vh;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "whatever" "favourite" "humbug" "suckitandsee" "am" "tbhyc" "thecar";
    gap: 2rem;
  }
  .redesfooter {
    min-width: none;
  }
  .p-footer {
    justify-content: center;
  }
  .carrousel {
    margin-left: 0%;
    margin-right: 0%;
  }
}/*# sourceMappingURL=estilos.css.map */