.redesfooter{
    
    @include flex-justify;
    gap: 10px;
    margin: 1.5rem;
}

.redesfooter a {
    text-decoration: none;
    font-size: 28px;
    background-color: #6d597a;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;;
    transition: all .4s ease-in-out;
}

.redesfooter a:hover{
    transform: scale(1.2);
}

.p-footer-redes{
    color: $mainColor;
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-top: 2rem;
    @include flex-justify;
    margin-bottom: 2rem;
}

.p-footer{
    color: $mainColor;
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px;
    @include flex-justify;
    margin-bottom: 1rem;
}

.redes{
    @include flex-justify;
    gap: 10px;  
}

.redes a {
    text-decoration: none;
    font-size: 28px;
    background-color: #6d597a;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;;
    transition: all .4s ease-in-out;
}

.redes a:hover{
    transform: scale(1.2);
}