.gridalbums{
    
    list-style-type: none;
    margin: 4rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
        "whatever    favourite    humbug      suckitandsee"
        "am    tbhyc    thecar    0";

    gap: 2rem;
}

.portadawhatever{
    background-color: $mainColor;
    border-radius: 1rem;
    font-size: 22px;
    padding: 10px;
    grid-area: whatever;
    @include flex-justify;
    flex-direction: column;
    text-align: center;
}

.favourite{
    background-color: $mainColor;
    border-radius: 1rem;
    font-size: 22px;
    padding: 10px;

    grid-area: favourite;

    @include flex-justify;
    flex-direction: column;
    text-align: center;
}

.humbug{
    background-color: $mainColor;
    border-radius: 1rem;
    font-size: 22px;
    padding: 10px;
    grid-area: humbug;

    @include flex-justify;
    flex-direction: column;
    text-align: center;
}

.suckitandsee{
    background-color: $mainColor;
    border-radius: 1rem;
    font-size: 22px;
    padding: 10px;
    grid-area: suckitandsee;

    @include flex-justify;
    flex-direction: column;
    text-align: center;
}

.am{
    background-color: $mainColor;
    border-radius: 1rem;
    font-size: 22px;
    padding: 10px;
    grid-area: am;

    @include flex-justify;
    flex-direction: column;
    text-align: center;
}

.tbhyc{
    background-color: $mainColor;
    border-radius: 1rem;
    font-size: 22px;
    padding: 10px;
    grid-area: tbhyc;

    @include flex-justify;
    flex-direction: column;
    text-align: center;
}

.thecar{
    background-color: $mainColor;
    border-radius: 1rem;
    font-size: 22px;
    padding: 10px;
    grid-area: thecar;

    @include flex-justify;
    flex-direction: column;
    text-align: center;
}

.imgwhatever, .imgfavourite, .imghumbug, .imgsuckit, .imgam, .imgtranquility,.imgthecar{
    max-width: 100%;
}

.imgwhatever, .imgtranquility{
    padding-bottom: 27px;
}

.imgsuckit{
    padding-top: 10px;
}

.imgfavourite{
    padding-bottom: 20px;
}

p a:hover{
    color: $colorSecondary;
}

p a{
    color: $colorTerciary;
    text-decoration: none;
    transition: 1s;
}