.origen, .rec-arg p{
    @include flex-justify;
    color: $colorSecondary;
    margin: 3rem;
    font-size: 24px;
}

.lista-whatever, .lista-favourite, .lista-humbug, .lista-suckit, .lista-am, .lista-tbhyc, .lista-thecar{
    color: $colorSecondary;
    font-size: 22px;
    font-family: sans-serif;
    list-style-type: disc;
    margin: 1.5rem;
    padding: 1rem;
}