.origen, .rec-arg p{
    @include flex-justify;
    color: $colorSecondary;
    margin: 3rem;
    font-size: 24px;
}

.lista-whatever, .lista-favourite, .lista-humbug, .lista-suckit, .lista-am, .lista-tbhyc, .lista-thecar{
    color: $colorSecondary;
    font-size: 22px;
    font-family: sans-serif;
    list-style-type: disc;
    margin: 1.5rem;
    padding: 1rem;
}

.cita-ratio{
    @include flex-justify;
    color: $colorSecondary;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    font-size: 20px;
    text-align: center
}
.redes-ratio{
    @include flex-justify;
    margin-bottom: 5rem;

    a{
    text-decoration: none;
    font-size: 20px;
    background-color: #6d597a;
    color: black;
    padding: 3px;
    width: 170px;
    text-align: center;
    border-radius: 2rem;
    transition: all .4s ease-in-out;
    
    &:hover{
        color: $colorSecondary;
        transform: scale(1.1);
    }
}
}