.videomirrorball, .videobody, .videofourout, .videotranquility, .videodoiwanna, .videoiwanna, .videosuckit, .videoblack, .videocrying, .videopotion, .videoyellow, .videoteddy, .videomardybum, .videodancefloor{
    display: flex;
    justify-content: center;
    align-items: center;
}